asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
Django==5.2.3
django-widget-tweaks==1.5.0
idna==3.10
pillow==11.2.1
psycopg2-binary==2.9.10
qrcode==8.2
razorpay==1.4.2
requests==2.32.4
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
django-widget-tweaks
gunicorn
collectstatic
djangorestframework

